<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div>
      <ul>
        <li v-for="pk in pokemon" :key="pk.name" data-test="pokemon"> {{ pk.name }} </li>
      </ul>
    </div>
    <button @click="loadMore(false)">Prev</button>
    <button @click="loadMore(true)">Next</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      pageNum: 10,
      pokemon: [],
    }
  },
  methods: {
    async loadMore(next) {
      this.pageNum = next ? (this.pageNum + 10) : (this.pageNum - 10);
      const URL = `https://pokeapi.co/api/v2/pokemon?limit=10&offset=${this.pageNum}`;
      const { data: { results } } = await axios.get(URL)
      this.pokemon = results;
    }, 
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
